<nav role="navigation" aria-label="Main navigation">
  <ul class="navigation-list">
    {% for node in site.data.menus.sidebar %}
      {%- assign item = site.pages | where: "path", node | first -%}
      <li class="navigation-list-item{% if page.url == item.url %} active{% endif %}">
        <a href="{{ item.url | relative_url }}" class="navigation-list-link{% if page.url == item.url %} active{% endif %}">{{ item.title }}</a>
        {% if item.subnav.size > 0 and page.url == item.url %}
        <ul class="navigation-list-child-list">
        {% for subitem in item.subnav %}
          <li class="navigation-list-item">
            <a href="{{ subitem.url }}" class="navigation-list-link">{{ subitem.title }}</a>
          </li>
        {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
