%input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: $grey-lt-000;
  border: $border $border-color;
}

.form-default {
  margin: $sp-6;
  clear: both;

  label {
    display: block;
    font-family: $font__montserrat;
    font-weight: bold;
  }
}

.form-input {
  @extend %input;
}

.form-textarea {
  @extend %input;
}

.textarea-group {
  .btn {
    display: block;
    margin: -$sp-6 $sp-6 $sp-6 auto;
  }
}
