//
// The basic two column layout
//

.page-wrap {
  display: grid;
  grid-template-areas: "sidebar" "content";
  grid-template-columns: auto;
  width: 100%;

  @include mq(md) {
    grid-template-areas: "sidebar content";
    grid-template-columns: 1fr 3fr;
    height: 100vh;
  }
}

.side-bar {
  z-index: 100;
  display: flex;
  grid-area: sidebar;
  flex-wrap: wrap;
  // padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;
  background-color: $sidebar-color;

  @include mq(md) {
    position: relative;
    flex-wrap: nowrap;
    height: 100%;
    padding-bottom: 0;
    flex-direction: column;
    border-right: $border $border-color;
    align-items: flex-end;
  }
}

.main-content-wrap {
  position: relative;

  @include mq(md) {
    width: 100%;
    height: 100%;
    min-height: 600px;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.main-content {
  grid-area: content;
  padding-top: $gutter-spacing-sm;
  @include container;

  @include mq(md) {
    position: relative;
    max-width: $content-width;
    margin: 0 auto;
    padding: $gutter-spacing;
  }
}

.js-main-content:focus {
  outline: none;
}

.page-header {
  display: none;

  @include mq(md) {
    display: block;
    background-color: $body-background-color;
  }

  .main-content {
    padding-top: 0;

    @include mq(md) {
      display: flex;
      justify-content: flex-end;
      max-width: 100%;
      height: 60px;
      padding-top: $sp-4;
      padding-bottom: $sp-4;
      // border-bottom: $border $border-color;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      @include stripes($grey-lt-100);
    }
  }
}

.navigation,
.site-title,
.site-footer {
  @include container;
  width: 100%;
}

.navigation {
  @include mq(md) {
    padding-top: $sp-8;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}

// stylelint-disable selector-max-type

body {
  position: relative;

  @include mq(md) {
    position: static;
    padding-bottom: 0;
  }
}

// stylelint-enable selector-max-type

.site-footer {
  position: relative;
  margin-top: $sp-4;
  padding-top: $sp-4;
  padding-bottom: $sp-4;
  background: $grey-lt-000;

  @include mq(md) {
    position: static;
    align-self: flex-end;
    justify-self: end;
  }

  .side-bar & {
    display: none;

    @include mq(md) {
      display: block;
    }
  }

  .main-content-wrap & {
    @include mq(md) {
      position: sticky;
      top: 100vh;
    }

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      @include stripes($grey-lt-100);

      @include mq(md) {
        display: none;
      }
    }
  }

  .footer__heading {
    color: $blue;
    font-family: $font__sanchez;
  }

  a {
    color: $blue;
    background-image: none;

    &:hover {
      color: $black;
      background-image: none;
    }
  }
}

.main-footer {
  display: grid;
  grid-template-areas:
    "logo"
    "about"
    "address"
    "social"
    "copyright";
  grid-template-columns: 1fr;

  @include mq(md) {
    grid-template-areas:
      "logo about address social"
      "logo copyright copyright copyright";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
  }

  .main-content-wrap & {
    @include mq(md) {
      grid-column-gap: 2rem;
      grid-template-areas:
        "about address social"
        "copyright copyright copyright";
      grid-template-columns: 40% 25% auto;
    }
  }

  .footer__logo {
    grid-area: logo;

    .main-content-wrap & {
      @include mq(md) {
        display: none;
      }
    }
  }

  .footer__about {
    grid-area: about;
  }

  .footer__social {
    grid-area: social;
    margin: 0;
    padding: 0;
    list-style: none;
    @include fs-4;

    li {
      margin-bottom: 0.5rem;
    }

    a {
      display: flex;
      align-items: center;
    }

    .icon {
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.5em;
    }
  }

  .footer__address {
    grid-area: address;
  }

  .footer__copyright {
    grid-area: copyright;
    margin-top: 1rem;
  }
}

.page__img {
  margin: 1rem auto;

  @include mq(md) {
    float: right;
    max-width: 300px;
    margin: 0 0 1rem 2rem;
  }

  img {
    margin: 0 auto;
  }
}

.callout {
  margin: 2rem 0;
  padding: 2rem;
  color: $grey-dk-200;
  @include fs-3;
  background-color: $grey-lt-100;

  h3 {
    position: relative;
    margin: 0 0 1rem;
    color: $blue;

    &::before {
      content: "";
      position: absolute;
      top: -1rem;
      right: -1rem;
      bottom: -1rem;
      left: -1rem;
      border-top: 1px solid $blue;
      border-left: 1px solid $blue;
    }
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

figure {
  margin: 1rem auto;

  img {
    display: block;
  }

  figcaption {
    color: $gray;
    @include fs-2;
  }

  &.right {
    @include mq(md) {
      float: right;
      width: 40%;
      margin: 0 0 1rem 1rem;
    }
  }

  &.left {
    @include mq(md) {
      float: left;
      width: 40%;
      margin: 0 1rem 1rem 0;
    }
  }
}
