.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  border-top: $border $border-color;

  &__item {
    position: relative;

    &--prev {
      @include pagination-arrows("left");
    }

    &--next {
      @include pagination-arrows("right");
    }
  }
}
