//
// Tables
//
// stylelint-disable max-nesting-depth, selector-no-type, selector-max-type

@use './abstracts/' as *;

table {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: $sp-6;
  margin-bottom: $sp-6;
  overflow-x: auto;
  border-collapse: separate;

  @include mq(sm) {
    display: table;
  }
}

th,
td {
  padding-top: $sp-2;
  padding-right: $sp-3;
  padding-bottom: $sp-2;
  padding-left: $sp-3;
  border-bottom: $border $border-color;
  border-left: $border $border-color;

  &:first-of-type {
    border-left: 0;
  }
}

tbody {
  tr {
    &:last-of-type {
      th,
      td {
        border-bottom: 0;
      }
    }
  }

  td {
    vertical-align: top;
    @include fs-3;
  }

  ol,
  ul {
    padding-left: 0;
  }
}

thead {
  th {
    color: $green-dark;
    font-family: $font__sanchez;
    @include fs-5;
    border-bottom: 2px solid $border-color;
  }
}

.table--cols-equal {
  width: 100%;
  table-layout: fixed;
}
