<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}
<body>

  <div class="page-wrap">
    <div class="side-bar">
      <a href="{{ site.url }}{{ site.baseurl }}" class="site-title fs-6 lh-tight">{{ site.title }}</a>
      <button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button" data-text-toggle="Hide">Menu</button>
      <div class="navigation main-nav js-main-nav">
        {% include nav.html %}
      </div>
      <footer role="contentinfo" class="site-footer side-bar__footer">
        <p class="text-small text-grey-dk-000 mb-0">Footer</p>
      </footer>
    </div>
    <div class="main-content-wrap js-main-content" tabindex="0">
      <div class="page-header">
        <div class="main-content">
          {% if site.search_enabled != nil %}
          <div class="search js-search">
            <div class="search-input-wrap">
              <input type="text" class="js-search-input search-input" tabindex="0" placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
              <svg width="14" height="14" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg" class="search-icon"><title>Search</title><g fill-rule="nonzero"><path d="M17.332 20.735c-5.537 0-10-4.6-10-10.247 0-5.646 4.463-10.247 10-10.247 5.536 0 10 4.601 10 10.247s-4.464 10.247-10 10.247zm0-4c3.3 0 6-2.783 6-6.247 0-3.463-2.7-6.247-6-6.247s-6 2.784-6 6.247c0 3.464 2.7 6.247 6 6.247z"/><path d="M11.672 13.791L.192 25.271 3.02 28.1 14.5 16.62z"/></g></svg>
            </div>
            <div class="js-search-results search-results-wrap"></div>
          </div>
          {% endif %}
          {% if site.data.menus.header.size > 0 %}
            <ul class="list-style-none js-aux-nav aux-nav">
              {% for link in site.data.menus.header %}
                <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}"><a href="{{ link.url }}" class="{{ link.class }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="main-content">
        {% unless page.url == "/" %}
          {% if page.parent %}
            <nav class="breadcrumb-nav">
              <ol class="breadcrumb-nav-list">
                {% if page.grand_parent %}
                  <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.grand_parent }}</a></li>
                  <li class="breadcrumb-nav-list-item"><a href="{{ second_level_url }}">{{ page.parent }}</a></li>
                {% else %}
                  <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.parent }}</a></li>
                {% endif %}
                <li class="breadcrumb-nav-list-item"><span>{{ page.title }}</span></li>
              </ol>
            </nav>
          {% endif %}
        {% endunless %}
        <main id="main-content" class="page-content">
          {{ content }}
        </main>
        <footer class="page__footer">
          {% if site.data.menus.sidebar contains page.path %}
          <ul class="pagination">
            {% for item in site.data.menus.sidebar %}
            {% if item == page.path %}
            {% unless forloop.first %}
            {% assign prev = forloop.index0 | minus: 1 %}
            {%- assign navitem = site.pages | where: "path", site.data.menus.sidebar[prev] | first -%}
            {% include pagination.html item=navitem class="prev" %}
            {% endunless %}
            {% unless forloop.last %}
            {% assign next = forloop.index0 | plus: 1 %}
            {%- assign navitem = site.pages | where: "path", site.data.menus.sidebar[next] | first -%}
            {% include pagination.html item=navitem class="next" %}
            {% endunless %}
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </footer>
      </div>
      <footer role="contentinfo" class="site-footer main-content__footer">
        <p class="text-small text-grey-dk-000 mb-0">Footer</p>
      </footer>
    </div>
  </div>

</body>
</html>
